[Unit]
Description="Omatab service"

[Service]
Type=simple
ExecStart=/home/omatab/start.sh
Restart=always
User=omatab

[Install]
WantedBy=multi-user.target
